<app-navbar (openFormEvent)="showForm()"></app-navbar>
@if(isFormDisplayed){

  <app-add-vehicle-form (formClosedEvent)="closeForm()"></app-add-vehicle-form>
}

<div class="container mt-4">
  @if(true){

  <app-empty-page-state
    [firstLineMessage]="'We don\'t have any vehicle data in our system to show.'"
    [secondLineMessage]="'Please proceed to add one!'"
    [linkText]="'+ Add Vehicle'"
    [linkHref]="'#'"
    (showVehicleFormEvent)="showForm()"
  ></app-empty-page-state>
  } @else{

  <p>Loading your vehicles, please wait...</p>
  }
</div>
