<div class="col-12 mb-3">
  @if(askToSelect){

  <div class="d-grid gap-2 col-6 mx-auto">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="vehicleImageInput.click()"
    >
      Select a file!
    </button>
  </div>

  <input
    #vehicleImageInput
    hidden
    type="file"
    class="form-control"
    id="vehicleImage"
    accept="image/*"
    (change)="imageSelected($event)"
    (click)="vehicleImageInput.value = ''"
  />
  } @if(showCropper){

  <!--Image Cropper-->
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="
      cardImageDimensions.ratioNuma / cardImageDimensions.ratioDeNoma
    "
    [resizeToWidth]="cardImageDimensions.widthInPx"
    [resizeToHeight]="cardImageDimensions.heightInPx"
    format="jpeg"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  } @if(!askToSelect){

  <div class="d-flex justify-content-end gap-2 mt-3">
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm"
      (click)="clearCropperImage()"
    >
      Clear
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="croppingCompleted()">Done</button>
  </div>
  }
</div>
